<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{{ idea.title }}</title>
</head>
<body>
    <div class="idea-container">
        <h1 class="idea-title">{{ idea.title }}</h1>
        <p class="idea-description">{{ idea.description }}</p>
        <p><strong>Kategórie:</strong> {{ idea.categories }}</p>
        {% if idea.image %}
            <img src="{{ idea.image }}" alt="Idea Image" class="idea-image">
        {% else %}
            <p>Ziadny obraz</p>
        {% endif %}
        <form action="{{ url_for('work_on_idea', idea_id=idea.id) }}" method="post">
            {% if session.get('user_id') and session.get('user_id') in [user.id for user in idea.working_users] %}
                <button type="submit" class="btn btn-danger">Už na tom nepracujem</button>
            {% else %}
                <button type="submit" class="btn btn-success">Pracujem na tomto nápade</button>
            {% endif %}
        </form>
        
        
        <h3>Na tomto nápade pracujú:</h3>
        <ul>
            {% for user in idea.working_users %}
                <li><a href="{{ url_for('user_profile', user_id=user.id) }}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
        
    </div>

    

    <h2>Komentáre</h2>
    <div class="comments-container">
        {% if comments %}
            {% for comment in comments %}
            <div class="comment">
                <strong>{{ comment.user.username }}:</strong>
                <p>{{ comment.content }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>Zatiaľ žiadne komentáre.</p>
        {% endif %}
        
        <form class="comment-form" method="POST" action="/idea/{{ idea.id }}/comment">
            <textarea name="content" placeholder="Napíšte váš komentár..." rows="3"></textarea>
            <button type="submit">Pridať komentár</button>
        </form>
    </div>
    

    <br>
    <a href="{{ url_for('home') }}" class="back-button">Späť na hlavnú stránku</a>
</body>
</html>
